
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 1em;
}

form {
    margin-top: 8px;
}

#pokemon {
    width: 90%;
    margin: 2em auto;
    grid-template-columns: repeat(3, 1fr);
}

.pokemon-container {
    margin: 10px;
    padding-top: 15px;
    background-color: rgb(202, 231, 195);
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(0,0,0);
}

.name::first-letter {
    text-transform: uppercase;
}

img {
    width: 200px;
    image-rendering: pixelated;
}
